@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito&display=swap");
$primary-color: #b98e55;
$deep-primary: #804c09;
$default-card: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
$content: linear-gradient(to right, #243949 0%, #517fa4 100%);
$nav-bg: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
);

body {
    font-family: "Nunito", sans-serif;
}

.gh-nav {
    background-image: $nav-bg;
    box-shadow: 0px 0px 4px rgb(78, 78, 78);
    z-index: 10;

    > .navbar-brand span {
        color: #ffffffd9;
        text-shadow: 0px 1px 6px #b98e55, 0px 2px 0px #804c09,
            0px 3px 0px #b98e55, 0px 4px 0px #ffffffd9, 0px 5px 0px #ddd,
            0px 6px 10px #ddd;
    }

    & ._author {
        color: $deep-primary;
    }

    > .navbar-nav .nav-item {
        font-size: 14px;
        &:nth-child(1) {
            margin-left: 10px;
        }
        margin-right: 10px;
        > a {
            text-transform: capitalize;
            transition: background 0.5s linear 0s, color 0.3s linear 0s;
            -o-transition: background 0.5s linear 0s, color 0.3s linear 0s;
            -webkit-transition: background 0.5s linear 0s, color 0.3s linear 0s;
            -moz-transition: background 0.5s linear 0s, color 0.3s linear 0s;
            color: $deep-primary;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.categories {
    display: none;
    z-index: 5;
    background-image: $default-card;
    width: 200% !important;
    margin: 0px -200px -10px -16px;
    a {
        color: #c5770f;
        transition: all 0.3s ease-out;
        position: relative;
        &:hover {
            color: whitesmoke;
            text-decoration: none;
        }
    }
}

.gh-main {
    &::before {
        background-color: rgb(0, 0, 0, 0.6);
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        content: "";
        bottom: 0;
        z-index: -1;
    }
    flex: 1;
    font-size: 14px;
    z-index: 4;
    background-image: url("https://res.cloudinary.com/jiroghene/image/upload/v1583820734/backgrounds/body_usxpjr.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    .icons {
        height: 20px;
        width: 20px;
    }

    .gh-btn {
        font-size: 13px;
        border-radius: 2px !important;
    }

    .p-color {
        color: $primary-color;
    }

    .card-bg {
        background-image: $default-card;
    }

    #sidebar {
        @media screen and (min-width: 769px) {
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 5;
        }

        width: 80px;
        margin-left: -80px;
        &.sidebar-active {
            margin-left: 0px;
        }
        > ul {
            @media screen and (min-width: 769px) {
                background-image: $default-card;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            > li {
                transition: all 1s ease-out;
                padding: 20px 0px;
                > a,
                form {
                    text-decoration: none;
                    color: #d6d1cc;
                    display: flex;
                    flex-direction: column;
                    > .nav-icon {
                        font-size: 20px;
                        margin-bottom: 4px;
                    }
                    > .nav-text {
                        font-size: 13px;
                    }
                }

                &:hover {
                    > a {
                        color: $primary-color;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            background: $nav-bg;
            bottom: -1px;
            width: 100%;
            height: auto !important;
            display: block !important;
            margin: 0 !important;
            z-index: 1000;
            padding: 0px !important;
            > ul {
                display: flex !important;
                width: 100%;
                > li {
                    flex: 1;
                    padding: 12px 0px 7px;
                    > a,
                    form {
                        color: $deep-primary;
                    }
                }
            }
        }
        @media screen and (max-width: 520px) {
            & .nav-icon {
                font-size: 16px !important;
            }
            & .nav-text {
                display: none;
                //font-size: 12px !important;
            }
        }
    }

    #main-body {
        margin: 5rem 0rem 4rem;
        position: relative;

        & #relatedposts {
            > .card {
                background-image: $default-card;
            }
        }

        & #relatedposts .title {
            color: #804c09;
            font-size: 17px !important;
        }
    }

    #main-body,
    #sidebar {
        transition: margin-left 0.3s ease-out;
    }

    & .excerpts figure {
        margin: 0;
    }

    & .excerpts,
    & .article {
        > article.card {
            & > .card-header,
            > .card-footer {
                background-image: $content;
                //box-shadow: -2px 1px 5px #6b5642fa;
            }
        }
        & .author {
            > p {
                text-transform: capitalize;
                color: #ff9800;
                font-size: 14px;
            }
        }
        & .heading {
            text-transform: capitalize;
            font-size: 1.5em;
        }
        & .category {
            background-image: $default-card !important;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            border-radius: 2px;
            font-size: 10px;
        }

        & .card-body > .card-text {
            > p {
                line-height: 2em;
                margin-bottom: 0px;
                font-size: 14px;
            }
            & figure.image img {
                width: 100%;
            }
        }
        & .continue-reading {
            font-size: 80%;
            font-family: "Rubik", sans-serif;
        }
        & .reactions {
            font-size: 12px;
            &.icon_eye {
                background-color: #804c09;
            }
        }
    }

    & #article-container {
        @media screen and (max-width: 768px) {
            padding: 0px !important;
        }

        & #comment-box {
            background-image: $default-card;
            .comment-name {
                color: #804c09;
                font-size: 1.1em;
                text-transform: capitalize;
            }
        }
    }

    #profile {
        margin-top: 100px !important;
        & .profile-card {
            background-image: $default-card;
            & .profilepix {
                height: 120px;
                width: 120px;
                @media screen and (max-width: 520px) {
                    height: 100px;
                    width: 100px;
                }
            }
        }

        & #img-container {
            margin-top: -85px;
        }
        & #social-links {
            & #fb,
            & #tw {
                display: none;
            }
        }
    }

    // ! admin stuff
    #manage_categories {
        #add-cat-tab.active {
            background-color: #50a746;
            color: white;
        }
        #del-cat-tab.active {
            background-color: #dd3c45;
            color: white;
        }
    }
}

.gh-form-container {
    bottom: 0;
    legend {
        background-image: $default-card;
        text-transform: capitalize;
        font-size: 18px;
    }
    .addinfo {
        display: none;
        font-size: 1.1em;
        padding: 12px 2em;
        color: ghostwhite;
        box-shadow: inset 0px -2px 15px rgb(31, 30, 30);
        background-image: $default-card;
    }
}

.gh-footer {
    z-index: 10;
    background-image: $nav-bg;
    background-color: #e8e7e7ab !important;
    color: $deep-primary;
    font-size: 14px;
    box-shadow: 0px 0px 5px rgba(153, 148, 148, 0.7);
}
