@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito&display=swap);body {
  font-family: "Nunito", sans-serif;
}

.gh-nav {
  background-image: -webkit-gradient(linear, left bottom, left top, from(lightgrey), color-stop(1%, lightgrey), color-stop(26%, #e0e0e0), color-stop(48%, #efefef), color-stop(75%, #d9d9d9), to(#bcbcbc));
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  box-shadow: 0px 0px 4px #4e4e4e;
  z-index: 10;
}

.gh-nav > .navbar-brand span {
  color: #ffffffd9;
  text-shadow: 0px 1px 6px #b98e55, 0px 2px 0px #804c09, 0px 3px 0px #b98e55, 0px 4px 0px #ffffffd9, 0px 5px 0px #ddd, 0px 6px 10px #ddd;
}

.gh-nav ._author {
  background: -webkit-linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gh-nav > .navbar-nav .nav-item {
  font-size: 14px;
  margin-right: 10px;
}

.gh-nav > .navbar-nav .nav-item:nth-child(1) {
  margin-left: 10px;
}

.gh-nav > .navbar-nav .nav-item > a {
  text-transform: capitalize;
  transition: background 0.5s linear 0s, color 0.3s linear 0s;
  -o-transition: background 0.5s linear 0s, color 0.3s linear 0s;
  -webkit-transition: background 0.5s linear 0s, color 0.3s linear 0s;
  -moz-transition: background 0.5s linear 0s, color 0.3s linear 0s;
  color: #804c09;
}

.gh-nav > .navbar-nav .nav-item > a:hover {
  color: #b98e55;
}

.categories {
  display: none;
  z-index: 5;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  width: 200% !important;
  margin: 0px -200px -10px -16px;
}

.categories a {
  color: #c5770f;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
}

.categories a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.gh-main {
  -webkit-box-flex: 1;
          flex: 1;
  font-size: 14px;
  z-index: 4;
  background-image: url("https://res.cloudinary.com/jiroghene/image/upload/v1583820734/backgrounds/body_usxpjr.jpg"), url("/images/body.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.gh-main::before {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  content: "";
  bottom: 0;
  z-index: -1;
}

.gh-main .icons {
  height: 20px;
  width: 20px;
}

.gh-main .gh-btn {
  font-size: 13px;
  border-radius: 2px !important;
}

.gh-main .p-color {
  color: #b98e55;
}

.gh-main .card-bg {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.gh-main #sidebar {
  width: 80px;
  margin-left: -80px;
}

@media screen and (min-width: 769px) {
  .gh-main #sidebar {
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    z-index: 5;
  }
}

.gh-main #sidebar.sidebar-active {
  margin-left: 0px;
}

@media screen and (min-width: 769px) {
  .gh-main #sidebar > ul {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.gh-main #sidebar > ul > li {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  padding: 20px 0px;
}

.gh-main #sidebar > ul > li > a,
.gh-main #sidebar > ul > li form {
  text-decoration: none;
  color: #d6d1cc;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.gh-main #sidebar > ul > li > a > .nav-icon,
.gh-main #sidebar > ul > li form > .nav-icon {
  font-size: 20px;
  margin-bottom: 4px;
}

.gh-main #sidebar > ul > li > a > .nav-text,
.gh-main #sidebar > ul > li form > .nav-text {
  font-size: 13px;
}

.gh-main #sidebar > ul > li:hover > a {
  color: #b98e55;
}

@media screen and (max-width: 768px) {
  .gh-main #sidebar {
    background: -webkit-gradient(linear, left bottom, left top, from(lightgrey), color-stop(1%, lightgrey), color-stop(26%, #e0e0e0), color-stop(48%, #efefef), color-stop(75%, #d9d9d9), to(#bcbcbc));
    background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    bottom: -1px;
    width: 100%;
    height: auto !important;
    display: block !important;
    margin: 0 !important;
    z-index: 1000;
    padding: 0px !important;
  }

  .gh-main #sidebar > ul {
    display: -webkit-box !important;
    display: flex !important;
    width: 100%;
  }

  .gh-main #sidebar > ul > li {
    -webkit-box-flex: 1;
            flex: 1;
    padding: 12px 0px 7px;
  }

  .gh-main #sidebar > ul > li > a,
  .gh-main #sidebar > ul > li form {
    color: #804c09;
  }
}

@media screen and (max-width: 520px) {
  .gh-main #sidebar .nav-icon {
    font-size: 16px !important;
  }

  .gh-main #sidebar .nav-text {
    display: none;
  }
}

.gh-main #main-body {
  margin: 5rem 0rem 4rem;
  position: relative;
}

.gh-main #main-body #relatedposts > .card {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.gh-main #main-body #relatedposts .title {
  color: #804c09;
  font-size: 17px !important;
}

.gh-main #main-body,
.gh-main #sidebar {
  -webkit-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}

.gh-main .excerpts figure {
  margin: 0;
}

.gh-main .excerpts > article.card > .card-header,
.gh-main .excerpts > article.card > .card-footer,
.gh-main .article > article.card > .card-header,
.gh-main .article > article.card > .card-footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#243949), to(#517fa4));
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.gh-main .excerpts .author > p,
.gh-main .article .author > p {
  text-transform: capitalize;
  color: #a3a5a9e0;
  font-size: 14px;
  font-weight: bold;
}

.gh-main .excerpts .heading,
.gh-main .article .heading {
  text-transform: capitalize;
  font-size: 1.5em;
  margin-right: 5% !important;
  line-height: 31px;
}

.gh-main .excerpts .category,
.gh-main .article .category {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 2px;
  font-size: 10px;
}

.gh-main .excerpts .card-body > .card-text > p,
.gh-main .article .card-body > .card-text > p {
  line-height: 2em;
  margin-bottom: 0px;
  font-size: 14px;
}

.gh-main .excerpts .card-body > .card-text figure.image img,
.gh-main .article .card-body > .card-text figure.image img {
  width: 100%;
}

.gh-main .excerpts .continue-reading,
.gh-main .article .continue-reading {
  font-size: 80%;
  font-family: "Rubik", sans-serif;
}

.gh-main .excerpts .reactions,
.gh-main .article .reactions {
  font-size: 12px;
}

.gh-main .excerpts .reactions.icon_eye,
.gh-main .article .reactions.icon_eye {
  background-color: #804c09;
}

.gh-main #article-container #comment-box {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.gh-main #article-container #comment-box .comment-name {
  color: #804c09;
  font-size: 1.1em;
  text-transform: capitalize;
}

.gh-main #profile {
  margin-top: 100px !important;
}

.gh-main #profile .profile-card {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.gh-main #profile .profile-card .profilepix {
  height: 120px;
  width: 120px;
}

@media screen and (max-width: 520px) {
  .gh-main #profile .profile-card .profilepix {
    height: 100px;
    width: 100px;
  }
}

.gh-main #profile #img-container {
  margin-top: -85px;
}

.gh-main #profile #social-links #fb,
.gh-main #profile #social-links #tw {
  display: none;
}

.gh-main #manage_categories #add-cat-tab.active {
  background-color: #50a746;
  color: white;
}

.gh-main #manage_categories #del-cat-tab.active {
  background-color: #dd3c45;
  color: white;
}

.gh-form-container {
  bottom: 0;
}

.gh-form-container legend {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  text-transform: capitalize;
  font-size: 18px;
}

.gh-form-container .addinfo {
  display: none;
  font-size: 1.1em;
  padding: 12px 2em;
  color: ghostwhite;
  box-shadow: inset 0px -2px 15px #1f1e1e;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.gh-footer {
  z-index: 10;
  background-image: -webkit-gradient(linear, left bottom, left top, from(lightgrey), color-stop(1%, lightgrey), color-stop(26%, #e0e0e0), color-stop(48%, #efefef), color-stop(75%, #d9d9d9), to(#bcbcbc));
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  background-color: #e8e7e7ab !important;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(153, 148, 148, 0.7);
}

.gh-footer > span {
  background: -webkit-linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .gh-main .excerpts > article.card > .card-header > div:first-of-type,
  .gh-main .article > article.card > .card-header > div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    margin-bottom: 0 !important;
  }

  .gh-main .excerpts .category,
  .gh-main .article .category {
    margin-bottom: 2% !important;
  }

  .gh-main #article-container {
    padding: 0px !important;
  }
}

